In [1]:
my_list1 = [{},{},{}]
my_list2 = [{123,2345},{},{}]
print(all(not d for d in my_list1))
print(all(not d for d in my_list2))

True
False

#Write a Python program to remove duplicates from a list of lists.

In [7]:
import itertools
list1 = [[110,200],[234,123,100],[200],[400,1234,5421,342]]
print(list1)
list1.sort()
new_num = list(list1 for list1,_ in itertools.groupby(list1))
print(new_num)

[[110, 200], [234, 123, 100], [200], [400, 1234, 5421, 342]]
[[110, 200], [200], [234, 123, 100], [400, 1234, 5421, 342]]

#Write a Python program to extend a list without append.

In [9]:
x = [103, 320, 430]
y = [403, 503, 603]
x[:0]=y
x.sort()
print(x)

[103, 320, 403, 430, 503, 603]

#Write a Python program to find the list in a list of lists whose sum of elements is th
e highest

In [19]:
num = [[1,2,3], [4,5,6], [5,6,17], [7,8,9]]
abc = max(num,key=sum)
print(abc)

[5, 6, 17]

#Write a Python program to access dictionary keyâ€™s element by index.

In [28]:
dict1 = {'key1':'value1','key2':'value2','key3':'value3'}
#list1 = [[i[0]]for i in dict1]
print(list(dict1)[0])

key1

#Write a Python program to iterate over two lists simultaneously.

In [31]:
num = [1, 2, 3]
color = ['red', 'while', 'black']
for (a,b) in zip(num,color):
    print(a,b)

1 red
2 while
3 black

#write a program to inser a string at the begining of every elements in a list

In [37]:
list1 = [1,2,3]
print(['a{0}'.format(i) for i in list1])

['a1', 'a2', 'a3']

# write a program to take two lists and print if they have at least one common member

In [39]:
def commondata(num,color):
    result = False
    for x in num:
        for y in color:
            if x == y:
                result = True
                return result
num = [1, 2, 3]
color = ['red', 'while', 1]
res = commondata(num,color)
print(res)

True

In [45]:
def common(list1,list2):
    res = False
    for x in list1:
        for y in list2:
            if x == y:
                res = True
                return res
        
list1 = [1,2,3]
list2 = [4,2,6]
result = common(list1,list2)
print(result)

True

# compute all permutations in a list

In [46]:
import itertools
print(list(itertools.permutations([12,22,23])))

[(12, 22, 23), (12, 23, 22), (22, 12, 23), (22, 23, 12), (23, 12, 22), (23, 22, 12)]

# create a dictionary
dict1 = {'data': '123',
'science':'234',
'AI': '235'}
# write a program to sort a dictionary by key.

In [47]:
dict1 = {'data': '123', 'science':'234', 'AI': '235'}
for key in sorted(dict1):
    print('%s: %s '% (key,dict1[key]))

AI: 235
data: 123
science: 234

# Write a Python program to get a dictionary from an object's fields.

In [52]:
class dictObj(object):
    def __init__(self):
        self.x = 'algorithm'
        self.y = 'statistics'
        self.z = 'programming'
    def do_nothing(self):
        pass
test = dictObj()
print(test.__dict__)

{'x': 'algorithm', 'y': 'statistics', 'z': 'programming'}

# write a program to remove duplicates from Dictionary.

In [58]:
import json
student_data = {'id1':{'name': ['Sara'],'class': ['V'],'subject_integration': ['english, math, science'] },
                'id2':{'name': ['David'],'class': ['V'],'subject_integration': ['english, math, science']},
                'id3':{'name': ['Sara'],'class': ['V'],'subject_integration': ['english, math, science']},
                'id4':{'name': ['Surya'],'class': ['V'],'subject_integration': ['english, math, science']},
                }
result = {}
for key,value in student_data.items():
    if value not in result.values():
        result[key] = value
print(result)

{'id1': {'name': ['Sara'], 'class': ['V'], 'subject_integration': ['english, math, science']}, 'id2': {'name': ['David'], 'class': ['V'], 'subject_integration': ['english, math, science']}, 'id4': {'name': ['Surya'], 'class': ['V'], 'subject_integration': ['english, math, science']}}

# write a program to combine two dictionary adding values for common keys

In [59]:
from collections import Counter
d1 = {'a': 1000, 'b': 3200, 'c':1300}
d2 = {'a': 300, 'b': 200, 'd':400}
d = Counter(d1) + Counter(d2)
print(d)

Counter({'b': 3400, 'a': 1300, 'c': 1300, 'd': 400})

# write a program to print all unique values from a dictionary in a list

In [60]:
data = [{"V":"S001"}, {"V": "S002"}, {"VI": "S001"}, {"VI": "S005"}, {"VII":"S005"}, {
"V":"S009"},{"VIII":"S007"}]

In [61]:
data

[{'V': 'S001'},
 {'V': 'S002'},
 {'VI': 'S001'},
 {'VI': 'S005'},
 {'VII': 'S005'},
 {'V': 'S009'},
 {'VIII': 'S007'}]

In [66]:
u_value = set( val for dic in data for val in dic.values())
print(u_value)

{'S001', 'S005', 'S009', 'S002', 'S007'}

# 1. create a sample JSON object from titanic train dataset
# https://raw.githubusercontent.com/pcsanwald/kaggle-titanic/master/train.csv

In [69]:
import pandas as pd
import json
url = 'https://raw.githubusercontent.com/chrisalbon/simulated_datasets/master/data.json'
df = pd.read_json(url,orient='columns')

In [70]:
df.head()

   integer            datetime  category
0        5 2015-01-01 00:00:00         0
1        5 2015-01-01 00:00:01         0
2        9 2015-01-01 00:00:02         0
3        6 2015-01-01 00:00:03         0
4        6 2015-01-01 00:00:04         0

In [71]:
df1 = pd.read_csv("https://raw.githubusercontent.com/pcsanwald/kaggle-titanic/master/train.csv")
df1.head()

,survived,pclass,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked
0,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

# 2. read the HTML file as given below
# http://vincentarelbundock.github.io/Rdatasets/datasets.html

In [74]:
html1 = pd.read_html("https://vincentarelbundock.github.io/Rdatasets/datasets.html")
html.head()

SyntaxError: invalid syntax (<ipython-input-74-9e7f54d7f050>, line 1)